.siteheader{
color:blue; 
font-size:30px;   
text-align:center;
border:solid 1px red;
width:500px;margin:100px;
}


.siteheader2{
color:blue; 
font-size:30px;   
text-align:center;
border-width:10px;
border-style:dotted;
border-color:blue;
width:500px;
}


.siteheader  .sitetitle{
color:orange; font-size:40px; 
  text-align:center;
  border:solid 1px blue;
  
}

.mtext1{margin-top:20px;
border-style:solid;
border-width:2px;
border-color:blue;
width:500px;}



.ptext2{
padding-top:20px;
padding-bottom:20px;
padding-left:20px;
padding-right:20px;

border-style:solid;
border-width:2px;
border-color:brown;
width:500px;}


.mtext1{
margin-top:20px;
margin-bottom:20px;
margin-left:20px;
margin-right:20px;

border-style:solid;
border-width:2px;
border-color:brown;
width:500px;}

.mtext5{
margin:20px;

border-style:solid;
border-width:4px;
border-color:green;
width:500px;}


.mtext2{margin-bottom:20px;
border-style:solid;
border-width:2px;
border-color:red;
width:500px;}

.mtext3{margin-left:100px;
border-style:solid;
border-width:2px;
border-color:red;
width:500px;}


.ptext1{padding-left:100px;
border-style:solid;
border-width:2px;
border-color:red;
width:500px;
box-sizing:border-box;
}


.testx{

border-style:solid;
border-width:2px;
border-color:blue;
width:500px;

}

.test{
padding-left:100px;
padding-right:100px;
border-style:solid;
border-width:2px;
border-color:red;
width:500px;
box-sizing:border-box;
}



